<div class="thumbnail">
	<a href="{{path_for('product.get', {slug: product.slug}) }}"><img src="{{ product.image }}" alt="{{ product.title }} image"></a>
	<div class="caption">
		<h4><a href="{{path_for('product.get', {slug: product.slug}) }}">{{product.title}}</a></h4>
		<p>{{product.description}}</p>
		<p style="color:red">Price: ${{ product.price }}</p>
			{% if product.inStock() %}
			<a href="{{ path_for('cart.add', {slug:product.slug, quantity: 1}) }}" class="btn btn-success btn-sm">Add To cart</a>
			{% else %}
			<a href="{{ path_for('cart.add', {slug:product.slug, quantity: 1}) }}" class="btn btn-success btn-sm disabled">Add To cart</a>			
			{% endif %}
	</div>
</div>